In [1]:
import numpy as np
import pandas as pd

In [5]:
df_0910 = pd.read_excel("season_2009_10.xlsx")
df_1011 = pd.read_excel("season_2010_11.xlsx")
df_1112 = pd.read_excel("season_2011_12.xlsx")
df_1213 = pd.read_excel("season_2012_13.xlsx")
df_1314 = pd.read_excel("season_2013_14.xlsx")
df_1415 = pd.read_excel("season_2014_15.xlsx")
df_1516 = pd.read_excel("season_2015_16.xlsx")
df_1617 = pd.read_excel("season_2016_17.xlsx")
df_1718 = pd.read_excel("season_2017_18.xlsx")
df_1819 = pd.read_excel("season_2018_19.xlsx")

wiki_df_0910 = pd.read_excel("wiki_2009_10.xlsx")
wiki_df_1011 = pd.read_excel("wiki_2010_11.xlsx")
wiki_df_1112 = pd.read_excel("wiki_2011_12.xlsx")
wiki_df_1213 = pd.read_excel("wiki_2012_13.xlsx")
wiki_df_1314 = pd.read_excel("wiki_2013_14.xlsx")
wiki_df_1415 = pd.read_excel("wiki_2014_15.xlsx")
wiki_df_1516 = pd.read_excel("wiki_2015_16.xlsx")
wiki_df_1617 = pd.read_excel("wiki_2016_17.xlsx")
wiki_df_1718 = pd.read_excel("wiki_2017_18.xlsx")
wiki_df_1819 = pd.read_excel("wiki_2018_19.xlsx")

dfs = [df_0910.copy(), df_1011.copy(), df_1112.copy(), df_1213.copy(), df_1314.copy(), 
       df_1415.copy(), df_1516.copy(), df_1617.copy(), df_1718.copy(), df_1819.copy()]

wiki_dfs = [wiki_df_0910.copy(), wiki_df_1011.copy(), wiki_df_1112.copy(), wiki_df_1213.copy(), wiki_df_1314.copy(), 
            wiki_df_1415.copy(), wiki_df_1516.copy(), wiki_df_1617.copy(), wiki_df_1718.copy(), wiki_df_1819.copy()]

for df in dfs:
    df.drop(columns=['Unnamed: 0'],inplace=True)

for df in wiki_dfs:
    df.drop(columns=['Unnamed: 0'],inplace=True)

In [6]:
def removing_unrelevant_players(dfs_list):
    for df in dfs_list:
        df = df.drop(df[df["Minutes"] < 45].index, inplace =True)

def removing_unrelevant_columns(dfs_list):
    for df in dfs_list:
        df = df.drop(columns = ["Non-Penalty Goals", "Penalty Kicks Attempted", "Born"], inplace =True)
        
def positions_to_numeric(dfs_list):
    replace_map = {"GK":0, "DF":1, "DF,FW":1, "DF,MF":1,
                  "MF":2 ,"MF,FW":2 ,"MF,DF":2 ,
                  "FW":3 ,"FW,MF":3 ,"FW,DF":3 }
    for df in dfs_list:
        df.replace(replace_map, inplace = True)

def fix_team_name(dfs_list):
    for df in dfs_list:
        df["Team"][0] = df["Team"][0].replace(" (C)","")
        df["Team"][17]=df["Team"][17].replace(" (R)","")
        df["Team"][18]=df["Team"][18].replace(" (R)","")
        df["Team"][19]=df["Team"][19].replace(" (R)","")
        df.loc[df["Team"]== "Tottenham Hotspur", "Team"] = "Tottenham"
        df.loc[df["Team"]== "Manchester United", "Team"] = "Manchester Utd"
        df.loc[df["Team"]== "Wolverhampton Wanderers", "Team"] = "Wolves"
        df.loc[df["Team"]== "West Ham United", "Team"] = "West Ham"
        df.loc[df["Team"]== "Bolton Wanderers", "Team"] = "Bolton"
        df.loc[df["Team"]== "Blackburn Rovers", "Team"] = "Blackburn"
        df.loc[df["Team"]== "Newcastle United", "Team"] = "Newcastle Utd"
        df.loc[df["Team"]== "West Bromwich Albion", "Team"] = "West Brom"
        df.loc[df["Team"]== "Queens Park Rangers", "Team"] = "QPR"
        df.loc[df["Team"]== "Brighton & Hove Albion", "Team"] = "Brighton"
        df.loc[df["Team"]== "Huddersfield Town", "Team"] = "Huddersfield"

In [7]:
dfs[0]

,Name,Nation,Position,Team,Age,Matches Played,Starts,Minutes,Goals,Assists,Yellow Card,Red Cards
0,Emmanuel Adebayor,TOG,3,Manchester City,25,26,25,2207,14,3,1,0
1,Gabby Agbonlahor,ENG,3,Aston Villa,22,36,35,3075,13,3,3,0
2,Daniel Agger,DEN,1,Liverpool,24,23,23,1977,0,0,0,0
3,Yakubu Aiyegbeni,NGA,3,Everton,26,25,9,1097,5,4,1,0
4,Marc Albrighton,ENG,1,Aston Villa,19,3,0,61,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Stephen Warnock,ENG,1,Blackburn,27,1,1,90,0,0,1,0
496,Stephen Warnock,ENG,1,Aston Villa,27,30,30,2590,0,2,3,0
497,Ben Watson,ENG,2,Wigan Athletic,24,5,4,335,1,0,0,0
498,Danny Webber,ENG,3,Portsmouth,27,17,4,475,1,1,1,0
499,Vladimír Weiss,SVK,3,Bolton,19,13,3,397,0,3,0,0