In [1]:
import numpy as np
import pandas as pd

In [2]:
df_0910 = pd.read_excel("season_2009_10.xlsx")
df_1011 = pd.read_excel("season_2010_11.xlsx")
df_1112 = pd.read_excel("season_2011_12.xlsx")
df_1213 = pd.read_excel("season_2012_13.xlsx")
df_1314 = pd.read_excel("season_2013_14.xlsx")
df_1415 = pd.read_excel("season_2014_15.xlsx")
df_1516 = pd.read_excel("season_2015_16.xlsx")
df_1617 = pd.read_excel("season_2016_17.xlsx")
df_1718 = pd.read_excel("season_2017_18.xlsx")
df_1819 = pd.read_excel("season_2018_19.xlsx")

wiki_df_0910 = pd.read_excel("wiki_2009_10.xlsx")
wiki_df_1011 = pd.read_excel("wiki_2010_11.xlsx")
wiki_df_1112 = pd.read_excel("wiki_2011_12.xlsx")
wiki_df_1213 = pd.read_excel("wiki_2012_13.xlsx")
wiki_df_1314 = pd.read_excel("wiki_2013_14.xlsx")
wiki_df_1415 = pd.read_excel("wiki_2014_15.xlsx")
wiki_df_1516 = pd.read_excel("wiki_2015_16.xlsx")
wiki_df_1617 = pd.read_excel("wiki_2016_17.xlsx")
wiki_df_1718 = pd.read_excel("wiki_2017_18.xlsx")
wiki_df_1819 = pd.read_excel("wiki_2018_19.xlsx")

dfs = [df_0910.copy(), df_1011.copy(), df_1112.copy(), df_1213.copy(), df_1314.copy(), 
       df_1415.copy(), df_1516.copy(), df_1617.copy(), df_1718.copy(), df_1819.copy()]

wiki_dfs = [wiki_df_0910.copy(), wiki_df_1011.copy(), wiki_df_1112.copy(), wiki_df_1213.copy(), wiki_df_1314.copy(), 
            wiki_df_1415.copy(), wiki_df_1516.copy(), wiki_df_1617.copy(), wiki_df_1718.copy(), wiki_df_1819.copy()]

for df in dfs:
    df.drop(columns=['Unnamed: 0'],inplace=True)

for df in wiki_dfs:
    df.drop(columns=['Unnamed: 0'],inplace=True)
    

"""wiki_dfs[0].to_excel("wiki_2009_10.xlsx")
wiki_dfs[1].to_excel("wiki_2010_11.xlsx")
wiki_dfs[2].to_excel("wiki_2011_12.xlsx")
wiki_dfs[3].to_excel("wiki_2012_13.xlsx")
wiki_dfs[4].to_excel("wiki_2013_14.xlsx")
wiki_dfs[5].to_excel("wiki_2014_15.xlsx")
wiki_dfs[6].to_excel("wiki_2015_16.xlsx")
wiki_dfs[7].to_excel("wiki_2016_17.xlsx")
wiki_dfs[8].to_excel("wiki_2017_18.xlsx")
wiki_dfs[9].to_excel("wiki_2018_19.xlsx")"""

'wiki_dfs[0].to_excel("wiki_2009_10.xlsx")\nwiki_dfs[1].to_excel("wiki_2010_11.xlsx")\nwiki_dfs[2].to_excel("wiki_2011_12.xlsx")\nwiki_dfs[3].to_excel("wiki_2012_13.xlsx")\nwiki_dfs[4].to_excel("wiki_2013_14.xlsx")\nwiki_dfs[5].to_excel("wiki_2014_15.xlsx")\nwiki_dfs[6].to_excel("wiki_2015_16.xlsx")\nwiki_dfs[7].to_excel("wiki_2016_17.xlsx")\nwiki_dfs[8].to_excel("wiki_2017_18.xlsx")\nwiki_dfs[9].to_excel("wiki_2018_19.xlsx")'

In [3]:
dfs[0]

,Name,Nation,Position,Team,Age,Matches Played,Starts,Minutes,Goals,Assists,Yellow Card,Red Cards
0,Emmanuel Adebayor,TOG,3,Manchester City,25,26,25,2207,14,3,1,0
1,Gabby Agbonlahor,ENG,3,Aston Villa,22,36,35,3075,13,3,3,0
2,Daniel Agger,DEN,1,Liverpool,24,23,23,1977,0,0,0,0
3,Yakubu Aiyegbeni,NGA,3,Everton,26,25,9,1097,5,4,1,0
4,Marc Albrighton,ENG,1,Aston Villa,19,3,0,61,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Stephen Warnock,ENG,1,Blackburn,27,1,1,90,0,0,1,0
496,Stephen Warnock,ENG,1,Aston Villa,27,30,30,2590,0,2,3,0
497,Ben Watson,ENG,2,Wigan Athletic,24,5,4,335,1,0,0,0
498,Danny Webber,ENG,3,Portsmouth,27,17,4,475,1,1,1,0
499,Vladimír Weiss,SVK,3,Bolton,19,13,3,397,0,3,0,0

In [4]:
wiki_dfs[0]

               Team  Pld   W   D   L   GF  GA   GD    Pts
0           Chelsea   38  27   5   6  103  32  +71     86
1    Manchester Utd   38  27   4   7   86  28  +58     85
2           Arsenal   38  23   6   9   83  41  +42     75
3         Tottenham   38  21   7  10   67  41  +26     70
4   Manchester City   38  18  13   7   73  45  +28     67
5       Aston Villa   38  17  13   8   52  39  +13     64
6         Liverpool   38  18   9  11   61  35  +26     63
7           Everton   38  16  13   9   60  49  +11     61
8   Birmingham City   38  13  11  14   38  47   −9     50
9         Blackburn   38  13  11  14   41  55  −14     50
10       Stoke City   38  11  14  13   34  48  −14     47
11           Fulham   38  12  10  16   39  46   −7     46
12       Sunderland   38  11  11  16   48  56   −8     44
13           Bolton   38  10   9  19   42  67  −25     39
14           Wolves   38   9  11  18   32  56  −24     38
15   Wigan Athletic   38   9   9  20   37  79  −42     36
16         West Ham   38   8  11  19   47  66  −19     35
17          Burnley   38   8   6  24   42  82  −40     30
18        Hull City   38   6  12  20   34  75  −41     30
19       Portsmouth   38   7   7  24   34  66  −32  19[c]